{% extends "base.html" %}
{% load static %}
{% block title %} Index {% endblock %}
{% block content %}
<body>
    <div class="container-fluid video-player">
        <div class="container">

            <div class="play-list">
                <div class="owl-carousel owl-carousel4 owl-theme">
                    <div>
                        <div class="card"> <img class="card-img link-img"
                                data-link="https://www.youtube.com/embed/ujPNSC4JllE" src="{% static 'assets/images/play1.png'%}"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="card"> <img class="card-img link-img"
                                data-link="https://www.youtube.com/embed/rMT8CffVFMk" src="{% static 'assets/images/play2.png'%}"
                                alt="">

                        </div>
                    </div>
                    <div>
                        <div class="card"> <img class="card-img link-img"
                                data-link="https://www.youtube.com/embed/bGC9f1Po6Q8" src="{% static 'assets/images/play3.png'%}"
                                alt="">

                        </div>
                    </div>
                    <div>
                        <div class="card"> <img class="card-img link-img"
                                data-link="https://www.youtube.com/embed/yHk_sypSiXU" src="{% static 'assets/images/play4.png'%}"
                                alt="">

                        </div>
                    </div>
                    <div>
                        <div class="card"> <img class="card-img link-img"
                                data-link="https://www.youtube.com/embed/7yoqm-kgKEk" src="{% static 'assets/images/play5.png'%}"
                                alt="">

                        </div>
                    </div>
                </div>
            </div>
            <hr>

{% for post in blog %}
            <div class="row vr-gallery">
                <div class="col-md-12 mb-4">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 pr-0 pd-md">
                            <img src="{{post.photo.url}}" alt="">
                        </div>
                        <div class="col-md-12 col-lg-7 light-bg cus-pd cus-arrow-left">
                            <p><small>{{post.category}} {{post.create_at}}</small></p>
                            <h3>{{post.title}}</h3>
                            <p>{{ post.description|safe|truncatewords:"40" }}</p>
                        </div>
                    </div>
                </div>

                {% comment %} <div class="col-md-4 pl-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'assets/images/gallery-img3.jpg'%}" alt="">
                        <div class="card-body bg-gray cus-pd2 cus-arrow-up">
                            <p><small>march 27, 2020</small></p>
                            <h3>Trendy Summer
                                Fashion</h3>
                            <p>To take a trivial example, which of us ever undertakes laborious physical exercise, some
                                advantage from it? fault with a man who chooses...</p>
                        </div>
                    </div>
                </div>                                       {% endcomment %}
{% endfor %}
                <div class="col-md-12 text-center">
                    <a href="#" class="btn">LOAD MORE</a>

                </div>
            </div>

        </div>
    </div>


    <div class="container-fluid fh5co-recent-news mt-5 pb-5">
        <h2 class="text-uppercase text-center">Recent News</h2>
        <hr class="mx-auto" />

        <div class="play-list mt-5 pt-4">
            <div class="owl-carousel owl-carousel5 owl-theme">
                <div>

                    <div class="card"> <img class="card-img link-img" src="{% static 'assets/images/news6.png'%}" alt="">
                        <div class="card-img-overlay">
                            <div class="top-area"><a href="#" class="text-center d-block"><i
                                        class="far fa-heart"></i></a></div>
                            <div class="bottom-area">
                                <div class="row">
                                    <div class="col-5 pr-0 text-white">
                                        <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                    </div>
                                    <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                            &nbsp; 6 <i class="far fa-comments"></i></a></div>
                                </div>
                                <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                                <p class="text-white">Jhone Doe</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img link-img" src="{% static 'assets/images/news2.png'%}" alt="">
                        <div class="card-img-overlay">
                            <div class="top-area"><a href="#" class="text-center d-block"><i
                                        class="far fa-heart"></i></a></div>
                            <div class="bottom-area">
                                <div class="row">
                                    <div class="col-5 pr-0 text-white">
                                        <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                    </div>
                                    <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                            &nbsp; 6 <i class="far fa-comments"></i></a></div>
                                </div>
                                <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                                <p class="text-white">Jhone Doe</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img link-img" src="{% static 'assets/images/news3.png'%}" alt="">
                        <div class="card-img-overlay">
                            <div class="top-area"><a href="#" class="text-center d-block"><i
                                        class="far fa-heart"></i></a></div>
                            <div class="bottom-area">
                                <div class="row">
                                    <div class="col-5 pr-0 text-white">
                                        <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                    </div>
                                    <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                            &nbsp; 6 <i class="far fa-comments"></i></a></div>
                                </div>
                                <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                                <p class="text-white">Jhone Doe</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img link-img" src="{% static 'assets/images/news4.png'%}" alt="">
                        <div class="card-img-overlay">
                            <div class="top-area"><a href="#" class="text-center d-block"><i
                                        class="far fa-heart"></i></a></div>
                            <div class="bottom-area">
                                <div class="row">
                                    <div class="col-5 pr-0 text-white">
                                        <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                    </div>
                                    <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                            &nbsp; 6 <i class="far fa-comments"></i></a></div>
                                </div>
                                <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                                <p class="text-white">Jhone Doe</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img link-img" src="{% static 'assets/images/news5.png'%}" alt="">
                        <div class="card-img-overlay">
                            <div class="top-area"><a href="#" class="text-center d-block"><i
                                        class="far fa-heart"></i></a></div>
                            <div class="bottom-area">
                                <div class="row">
                                    <div class="col-5 pr-0 text-white">
                                        <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                    </div>
                                    <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                            &nbsp; 6 <i class="far fa-comments"></i></a></div>
                                </div>
                                <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                                <p class="text-white">Jhone Doe</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img link-img" src="{% static 'assets/images/news6.png'%}" alt="">
                        <div class="card-img-overlay">
                            <div class="top-area"><a href="#" class="text-center d-block"><i
                                        class="far fa-heart"></i></a></div>
                            <div class="bottom-area">
                                <div class="row">
                                    <div class="col-5 pr-0 text-white">
                                        <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                    </div>
                                    <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                            &nbsp; 6 <i class="far fa-comments"></i></a></div>
                                </div>
                                <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                                <p class="text-white">Jhone Doe</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img link-img" src="{% static 'assets/images/news4.png'%}" alt="">
                        <div class="card-img-overlay">
                            <div class="top-area"><a href="#" class="text-center d-block"><i
                                        class="far fa-heart"></i></a></div>
                            <div class="bottom-area">
                                <div class="row">
                                    <div class="col-5 pr-0 text-white">
                                        <a href="#" class="text-white"> <i class="fas fa-retweet"></i> Share</a>
                                    </div>
                                    <div class="col  pl-0   text-right"><a href="#" class="text-white"> June 3, 2019
                                            &nbsp; 6 <i class="far fa-comments"></i></a></div>
                                </div>
                                <h4 class="text-white mt-2">Xiaomi Hao Gertion Hones</h4>
                                <p class="text-white">Jhone Doe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid jumbotron-fluid stay mt-5 pt-5 pb-5">
        <h2 class="text-center">Stay Updated</h2>
        <p class="text-center mt-2">Sign up for our newsletter to receive the latest news and event postings.</p>
        <div class="input-group mt-4 mx-auto" style="max-width: 640px">
            <input type="email" class="form-control" placeholder="YOUR EMAIL ADDRESS">
            <div class="">
                <button class="btn btn-success ml-2" type="submit">SIGN UP</button>
            </div>
        </div>
    </div>

{% endblock %}